h1 {
    background-color: rgb(255, 241, 246);
    color:rgb(235, 132, 149);
    padding: 15px;
    margin: 20px;
    font-size: 300%;
}
body {
    background-color: rgb(255, 216, 223);
    text-align: center;
    padding: 0px 15px;
    font-family: cursive;
}
.kpopList {
    background-color: rgb(255, 241, 246);
    list-style-position: inside;
}
.images{
    padding: 20px;
    background-color: rgb(255, 241, 246);
    width: 270px;
    height:auto;
}
#secretText{
    font-size: x-small;
}
#favorite {
    font-style: italic;
}
#secondFav {
    font-style: italic;
}
.homePics {
    padding: 20px;
    background-color: rgb(255, 241, 246);
    width: 250px;
    height: auto;
}
.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: palegoldenrod;
}
.navItem {
    display: inline;
}
.navItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
}
